*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    }
    h1{
        position: relative;
        text-align: center;
        top: 70px;
    }
    h2{
        text-align: center;
        color: rgb(39, 39, 205);
    }
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100vw;
    }
    .content{
        padding: 20px;
        box-sizing: border-box;
        border: 3px dotted orangered;
        border-radius: 20px;
        font-weight: bold;
        text-transform:capitalize;
        line-height: 1.5;
    } 
    span{
        text-transform: lowercase;
    }